name: build

on:
  push:
    branches:
      - master
      - dev
    paths:
      - .github/workflows/main.yaml
      - .dockerignore
      - Dockerfile
      - entrypoint.sh
      - gpgparams
      - install.sh
      - VERSION
  pull_request:

env:
  DOCKER_REPO: shenxn/protonmail-bridge
  DOCKER_REPO_DEV: shenxn/protonmail-bridge-dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set version
        id: version
        run: echo "::set-output name=version::`cat VERSION`"
      - name: Set repo
        id: repo
        run: if [[ $GITHUB_REF == "refs/heads/master" ]]; then echo "::set-output name=repo::${DOCKER_REPO}"; else echo "::set-output name=repo::${DOCKER_REPO_DEV}"; fi
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ${{ steps.repo.outputs.repo }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          tags: |
            ${{ steps.repo.outputs.repo }}:latest
            ${{ steps.repo.outputs.repo }}:${{ steps.version.outputs.version }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          push: ${{ github.event_name != 'pull_request' }}
